$desktop-min: 1200px
$tablet-max: ($desktop-min - 1)
$tablet-min: 700px
$mobile-max: ($tablet-min - 1)

// General
.home-grid-img
  position: relative
  z-index: 10
  a, h3
    position: absolute
    font-family: sans-serif
  a
    font-size: 24px
    background-color: #007d01
    padding: 8px 10px
    color: white
    text-decoration: none
    border-radius: 6px
  h3
    color: #fcdd02
    font-size: 60px
    line-height: 60px
    margin: 0
