@media (min-width: $desktop-min)
  .page-wrapper
    width: 1140px
    margin: auto
  .grisport-logo
    display: none

  .home-images-grid
    display: grid
    display: -ms-grid
    grid-template-columns: 1fr 1fr 1fr
    -ms-grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr
    -ms-grid-template-rows: 1fr 1fr
    grid-gap: 8px
    -ms-grid-gap: 8px

    > div
      overflow: hidden

    img
      min-height: 100%
      min-width: 100%

    #schoenen
      grid-column: 1 / 3
      grid-row: 1
      -ms-grid-column: 1 / 3
      -ms-grid-row: 1
      a
        bottom: 40px
        left: 20px
      h3
        top: 40px
        left: 20px

    #laarzen
      grid-column: 3
      grid-row: 1
      -ms-grid-column: 3
      -ms-grid-row: 1
      a
        bottom: 20px
        right: 20px

    #reviews
      grid-column: 1
      grid-row: 2
      -ms-grid-column: 1
      -ms-grid-row: 2

    #strovels
      grid-column: 2 / 4
      grid-row: 2
      -ms-grid-column: 2 / 4
      -ms-grid-row: 2
      a
        bottom: 40px
        right: 20px
      h3
        top: 32px
        right: 20px
