@media (min-width: $tablet-min) and (max-width: $tablet-max)
  .page-wrapper
    width: 640px
    margin: auto

  .home-images-grid
    display: grid
    display: -ms-grid
    grid-template-columns: 1fr 1fr
    -ms-grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    -ms-grid-template-rows: 1fr 1fr
    grid-gap: 8px
    -ms-grid-gap: 8px

    > div
      overflow: hidden

    img:first-of-type
      min-height: 100%
      min-width: 100%

    #schoenen
      grid-column: 1 / 3
      grid-row: 1
      -ms-grid-column: 1 / 3
      -ms-grid-row: 1
      a
        bottom: 40px
        left: 20px
      h3
        top: 40px
        left: 20px
      img
        transform: scale(1.2)
        margin-left: 20px
      .grisport-logo
        position: absolute
        bottom: 40px
        right: 20px
        transform: none

    #laarzen
      grid-column: 1
      grid-row: 2
      -ms-grid-column: 1
      -ms-grid-row: 2
      a
        bottom: 20px
        right: 20px

    #reviews
      grid-column: 2
      grid-row: 2
      -ms-grid-column: 2
      -ms-grid-row: 2

    #strovels
      grid-column: 1 / 3
      grid-row: 3
      -ms-grid-column: 1 / 3
      -ms-grid-row: 3
      a
        bottom: 40px
        right: 20px
      h3
        top: 80px
        right: 20px
