@media (max-width: $mobile-max)
  .page-wrapper
    width: 90vw
    margin: auto

  .home-images-grid
    display: grid
    display: -ms-grid
    grid-template-columns: auto
    -ms-grid-template-columns: auto
    grid-template-rows: auto
    -ms-grid-template-rows: auto
    grid-gap: 8px
    -ms-grid-gap: 8px

    > div
      overflow: hidden
      max-width: 90vw
      width: 100%
      margin: auto

    img:first-of-type
      min-height: 100%
      min-width: 100%
      margin: auto

    #schoenen
      //grid-column: 1
      grid-row: 1
      //-ms-grid-column: 1
      -ms-grid-row: 1
      a
        bottom: 40px
        right: 20px
      h3
        top: 40px
        left: 20px
      img:first-of-type
        margin-left: 30px
        transform: scale(1.2)
      .grisport-logo
        position: absolute
        bottom: 40px
        left: 20px
        transform: none

    #laarzen
      //grid-column: 1
      grid-row: 2
      //-ms-grid-column: 1
      -ms-grid-row: 2
      a
        bottom: 20px
        right: 20px

    #reviews
      //grid-column: 1
      grid-row: 3
      //-ms-grid-column: 1
      -ms-grid-row: 3
      height: 400px

    #strovels
      //grid-column: 1 / 3
      grid-row: 4
      //-ms-grid-column: 1 / 3
      -ms-grid-row: 4
      a
        bottom: 40px
        right: 20px
      h3
        top: 80px
        left: 20px

  .home-grid-img
    position: relative
    z-index: 10
    a
      font-size: 18px
      padding: 8px 10px
      border-radius: 6px
    h3
      color: #fcdd02
      font-size: 36px
      line-height: 40px
