@media (max-width: 450px)
  .home-images-grid
    #schoenen
      img:first-of-type
        margin-left: -150px !important
        transform: scale(1) !important
    .button
      color: white !important

#reviews-widget
  iframe
    margin: auto
    vertical-align: middle
    justify-self: center

#reviews
  display: grid
  align-items: center
